body{
    background-color:#1D65C1 ;
    font-family: 'Staatliches', cursive;
}
.glavnya-nadpis{
    /* VR-products */

    position: absolute;
    width: 319px;
    height: 61px;
    left: 600px;
    top: 112px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    color: #FFFFFF;

}
.linia1{
    /* Line 1 */

    position: absolute;
    width: 698px;
    height: 0px;
    left:350px;
    top: 600px;

    border: 10px solid rgba(255, 254, 254, 0.5);
    transform: rotate(90deg);

}